<!-- =======| Main |======= -->
<div class="row page-titles">
    <div class="col-12 animated fadeInLeft">
        <div class="card cardtop">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-10 align-self-center">
                        <h3 class="text-themecolor">{{pageTitle}}</h3>
                    </div>
                    
                    <div class="col-12 col-sm-2">
                        <button class="btn btn-outline-danger" href="javascript:void(0)"
                            (click)="goBack()">Volver</button>
                    </div>
                </div>
                
            </div>
        </div>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home"></i> Inicio</a></li>
                <!-- <li class="breadcrumb-item"><a routerLink="/dashboard/directorio">Directorio</a></li> -->
                <li class="breadcrumb-item active">{{pageTitle}}</li>
            </ol>
        </nav>
    </div>
</div>


<div class="container animated fadeInUp" id="main" class="main" role="main" name="users">

    <div class="col-xs-12">

        <section class="section profile">
            <div class="row">
                <div class="col-xs-12 cols-sm-12 col-md-4 col-xl-4">

                    <div class="card">
                        <div class="card-body profile-card pt-4  fichasmall">
                            
                            <div class="inffichasmall">
                                <h2>{{userprofile.name}}</h2>
                                <p>{{userprofile.email}}</p>

                                <span class="badge bg-dark-light" *ngIf="userprofile.role === 'SUPERADMIN'">SuperAdmin</span>
                                <span class="badge bg-primary" *ngIf="userprofile.role === 'ADMIN'">Admin</span>
                                <span class="badge bg-success" *ngIf="userprofile.role === 'MEMBER'">Miembro</span>
                                <span class="badge bg-secondary" *ngIf="userprofile.role === 'GUEST'">Invitado</span>
                            </div>


                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-xl-8">

                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <div *ngIf="userprofile.role === 'GUEST'">
                                <ul class="nav nav-tabs nav-tabs-bordered">

                                    <li class="nav-item">
                                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Detalles</button>
                                    </li>
                                    <!-- <li class="nav-item">
                                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Cambiar
                    Contraseña</button>
                                    </li> -->

                                </ul>

                            </div>

                            <div >
                                <ul class="nav nav-tabs nav-tabs-bordered">

                                    <li class="nav-item">
                                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Detalles</button>
                                    </li>


                                    <li class="nav-item">
                                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Mi Perfil</button>
                                    </li>

                                    <!-- <li class="nav-item">
                                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Cambiar
                  Contraseña</button>
                                    </li> -->

                                </ul>

                            </div>
                            <div class="tab-content pt-2">

                                <div class="tab-pane fade show active profile-overview" id="profile-overview">

                                    <br />

                                    <div class="row">

                                        <div class="col-xs-6 col-sm-6">
                                            <div class="col-md-4 label ">
                                                <i class="bi bi-person-circle"></i> Username
                                            </div>
                                            <p>{{userprofile.name}}</p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6">
                                            <div class="col-md-4 label"><i class="bi bi-envelope"></i> Email</div>
                                            <p>{{userprofile.email}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6">
                                            <div class="col-md-4 label"><i class="bi bi-bank2"></i> Tipo Registro</div>
                                            <p>{{userprofile.role}}</p>
                                        </div>
                                    </div>





                                </div>


                                <!-- mi directorio                             -->
                                <div class="tab-pane fade pt-3" id="profile-settings">

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-8">
                                                <h5>{{pageTitle}}</h5>
                                            </div>
                                            <div *ngIf="display" class="col-xs-6 col-sm-4">
                                                <a [routerLink]="['/dashboard/directorio/view-public/', userprofile.id]">
                                                    <button class="btn btn-outline-success">Ver mi Tarjeta</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <hr>
                                    <div class="clear"></div>
                                    <form class="form-horizontal form-material" (ngSubmit)="save()" [formGroup]="userForm">
                                        <div class="row">
                                            <!-- <div *ngIf="errors?.email" class="alert alert-danger mt-3">
                                                    {{ errors?.email }}
                                                </div>
                                                <div *ngIf="errors?.password" class="alert alert-danger mt-3">
                                                    {{ errors?.password }}
                                                </div>
                                                <div *ngIf="errors?.error" class="alert alert-danger mt-3">
                                                    {{ errors?.error }}
                                                </div> -->
                                                <div class="col-xs-12 col-md-6">
                                                    <label>Nombres <span class="required">*</span></label>
                                                    <input type="text" formControlName="name" value="name" class="form-control" required>

                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <label>Apellidos <span class="required">*</span></label>
                                                    <input type="text" formControlName="surname" value="surname" class="form-control" required>

                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <label for="exampleInputEmail1">Email<span class="required">*</span></label>
                                                    <input type="text" formControlName="email" value="email" class="form-control" required>

                                                </div>

                                                <div class="col-xs-12 col-md-6">
                                                    <label for="exampleInputEmail1">Estado</label>
                                                    <input type="text"  class="form-control">
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <label for="exampleInputEmail1">Ciudad</label>
                                                    <input type="text"  class="form-control">
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <label for="exampleInputEmail1">Teléfonos Principal  <span class="required">*</span></label>
                                                    <input type="text"  value="telprincipal" class="form-control" required>

                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <label for="exampleInputEmail1">Teléfonos Móvil  </label>
                                                    <input type="text"  value="telmovil" class="form-control">

                                                </div>
                                                <div class="col-xs-12">
                                                    <label>Dirección <span class="required">*</span></label>
                                                    <div class="col-md-12">
                                                        <textarea  id="direccion" cols="30" rows="4" class="form-control"></textarea>
                                                        <!-- <ckeditor [editor]="Editor" id="direccion" (ready)="onReady($event)" data="<p>Hello, world!</p>" formControlName="direccion" value="direccion" rows="5" class="form-control" required></ckeditor> -->

                                                    </div>
                                                </div>
                                        </div>

                                        <input type="hidden" formControlName="id">
                                        <button class="btn btn-outline-success waves-effect waves-light m-r-10" type="submit" [disabled]="!userForm.valid">Guardar</button>


                                    </form>

                                </div>

                                <!-- Change Password Form -->
                                <div class="tab-pane fade pt-3 profile-change-password profile-edit" id="profile-change-password">
                                    <!-- Change Password Form -->
                                    <!-- <form [formGroup]="passwordForm" (ngSubmit)="cambiarPassword()">
                                        <div class="row mb-3">
                                            <h3>Cambiar contraseña</h3>
                                            <p>La contraseña será cambiada al usuario <span> <b>{{userprofile.username}}</b></span>
                                            </p>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Email <span class="required">*</span></label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="email" type="email" class="form-control" formControlName="email" id="email" required>
                                            </div>
                                        </div> -->

                                        <!-- <div class="row mb-3">
                                            <label for="password" class="col-md-4 col-lg-3 col-form-label">Nueva Contraseña</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="password" type="password" class="form-control" id="password" formControlName="password" required>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="password2" class="col-md-4 col-lg-3 col-form-label">Reingresar Contraseña</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="password2" type="password" class="form-control" id="password2" formControlName="password2" required>
                                            </div>
                                        </div> -->
                                        <!-- <p *ngIf="passwordNoValido()">* El password deben ser iguales </p>
                                        <div class="text-center">
                                            <input type="hidden" formControlName="id">
                                            <button class="btn btn-outline-success waves-effect waves-light m-r-10" type="submit">Cambiar Contraseña</button>
                                        </div>
                                    </form> -->
                                    <!-- End Change Password Form -->

                                </div>
                            </div>
                            <!-- End Bordered Tabs -->

                        </div>
                    </div>

                </div>
            </div>
        </section>

    </div>

</div>
<!--/main-->