<app-loading *ngIf="isLoading"></app-loading>
<div class="card border-radio" *ngIf="!isLoading">

    <div class="card-body calendary">
        <div class="tope">
            <h3>Calendario de Tareas</h3>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#calendarioModal"  >
                        <i class="fa fa-plus-circle"></i>
                    </button>
        </div>
        <ul *ngFor="let cal of calendariotareas">
            <li>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#calendarioModal"
                (click)="openPaymentsModal(cal)">
                <div class="fa fa-edit"></div>
            </button>
                <span class="info">
                    <h4>{{cal.title}}</h4>
                    <p>{{cal.fecha_entrega}} </p>
                </span>
                <span class="badge bg-success" *ngIf="cal.status === 'ACTIVE'">Activo</span>
                <span class="badge bg-danger" *ngIf="cal.status === 'INACTIVE'">Inactivo</span>
                
            </li>
        </ul>

    </div>
</div>

<!-- Modal -->
        <app-calendariot-edit [selectedCalendario]="selectedCalendario" [userprofile]="user" (closeModal)="getCalendariosBymaestro()"></app-calendariot-edit>
        
        <!-- Modal -->