<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="profile">

    <app-breadc2 [title]="title" ></app-breadc2>
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="row animated fadeInUp" *ngIf="!isLoading">
        <section class="section dashboard">

            <div class="card pagodetail border-radio">
                <div class="col-xs-12 col-sm-6">
                    <p><b>Referencia:</b> {{payment.referencia}}</p>
                    <p><b>Status: &nbsp;</b>
                        <span class="badge bg-success" *ngIf="payment.status === 'APPROVED'">Aprobado</span>
                        <span class="badge bg-primary" *ngIf="payment.status === 'PENDING'">Pendiente</span>
                        <span class="badge bg-danger" *ngIf="payment.status === 'REJECTED'">Rechazado</span>
                    </p>
                    <p><b>Status deuda: &nbsp;</b> 
                        <!-- {{payment.status_deuda}} -->
                    <span class="badge bg-success" *ngIf="payment.status_deuda === 'PAID'">Pagado</span>
                        <span class="badge bg-warning" *ngIf="payment.status_deuda === null">Pendiente</span>
                        <span class="badge bg-danger" *ngIf="payment.status_deuda === 'DEUDA'">Deuda</span>
                    </p>
                    <p><b>Nombre de la cuenta:</b> {{payment.nombre}}</p>
                    <p><b>email de la cuenta:</b> {{payment.email}}</p>
                    <p><b>Cliente:</b> {{parent.name}} {{parent.surname}}</p>
                    <p><b>Evento:</b> {{event.name}}</p>
                    <p><b>Fecha | Hora:</b> {{payment.created_at | date:'MMM d, y, h:mm:ss a'}}</p>
                    <p><b>Metodo de Pago:</b> {{payment.metodo}}</p>
                    <div *ngIf="payment.bank_name">
                        <p><b>Nombre del Banco:</b> {{payment.bank_name}}</p>
                    </div>

                    <p><b>Monto:</b>
                        <span *ngIf="payment.metodo ==='Transferencia Bolívares' || payment.metodo ==='payment Móvil'">
                            {{payment.monto|currency:'Bs.'}}

                        </span>
                        <span *ngIf="payment.metodo ==='Transferencia Dólares'">
                            {{payment.monto|currency}}
                        </span>
                    </p>
                    <p><b>deuda:</b>
                        <span *ngIf="payment.metodo ==='Transferencia Bolívares' || payment.metodo ==='payment Móvil'">
                            {{payment.deuda|currency:'Bs.'}}

                        </span>
                        <span *ngIf="payment.metodo ==='Transferencia Dólares'">
                            {{payment.deuda|currency}}
                        </span>
                    </p>
                    <p><b>Monto Pendiente:</b>
                        <span *ngIf="payment.metodo ==='Transferencia Bolívares' || payment.metodo ==='payment Móvil'">
                            {{payment.monto_pendiente|currency:'Bs.'}}

                        </span>
                        <span *ngIf="payment.metodo ==='Transferencia Dólares'">
                            {{payment.monto_pendiente|currency}}
                        </span>
                    </p>
                    
                    <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <select class="form-control form-select-solid fw-bolder" name="status" [(ngModel)]="payment.status"
                        (change)="cambiarStatus(payment)" placeholder="status">
                        <option value="">Seleccione</option>
                        <option value="APPROVED">Aprobado</option>
                        <option value="PENDING">Pendiente</option>
                        <option value="REJECTED">Rechazado</option>
                    </select>
                    </div>
                </div>
                </div>
                <div class="col-xs-12 col-sm-6">

                    <img [src]="payment.avatar | imagenPipe: 'payments'" style="width:100%; padding: 10px;
                border: 1px solid #ccc;
                margin-top: 30px;" class="shadow" alt="">
                </div>


            </div>


        </section>
    </div>
</div>
<!-- End #main-->