<div class="container">
    <app-backbreadcum [title]="title"></app-backbreadcum>
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="row animated fadeInUp" *ngIf="!isLoading">
        <div>
            <ul class="nav nav-tabs nav-tabs-bordered">
                <li class="nav-item">
                    <button class="nav-link" (click)="optionSelected(1)" [ngClass]="{'active': option_selected === 1}"
                        data-bs-toggle="tab" data-bs-target="#paymentmethods">Métodos de Pago</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link active" (click)="optionSelected(2)"
                        [ngClass]="{'active': option_selected === 2}" data-bs-toggle="tab"
                        data-bs-target="#profile-overview">Detalles</button>
                </li>
                <!-- <li class="nav-item">
                    <button class="nav-link" (click)="optionSelected(3)" [ngClass]="{'active': option_selected === 3}"
                        data-bs-toggle="tab" data-bs-target="#pagos">Pagos</button>
                </li> -->
            </ul>

        </div>

        <div class="tab-content pt-2">

            
            <div class="tab-pane fade show active profile-overview" *ngIf="option_selected === 1 "
                id="paymentmethods">
                <div class="card border-radio ">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5" *ngIf="!tipoSeleccionado">
                            <form class="">
                                <div class="form-group col-xs-12 p-3">
                                    <label for="exampleInputEmail1">Tipo de Pago<span class="required">*</span></label>
                                    <select name="tipo" id="input" class="form-control" [(ngModel)]="tipo"
                                        (change)="selectedTypeEdit($event.target.value)">
                                        <option value="seleccione">Seleccione</option>
                                        <option value="Transferencia Dólares">Transferencia Dólares</option>
                                        <option value="Transferencia Bolivares">Transferencia Bolívares</option>
                                        <option value="Pago Móvil">Pago Móvil</option>
                                    </select>

                                </div>
                                <div class="clear"></div>
                                <!-- transferencia -->
                                <div *ngIf="pagoSeleccionado === 'Transferencia Dólares'" class="p-2">
                                    <div class="card-body">
                                        <h4>Transferencia</h4>
                                        <div class="row">
                                            <div class="form-group col-xs-12 col-sm-6">
                                                <label for="exampleInputEmail1">Tipo de Cuenta<span
                                                        class="required">*</span></label>
                                                <select name="bankAccountType" id="input" class="form-control"
                                                    [(ngModel)]="bankAccountType">
                                                    <option value="">Seleccione</option>
                                                    <option value="ahorro">Ahorro</option>
                                                    <option value="corriente">Corriente</option>
                                                </select>

                                            </div>
                                            <div class="form-group col-xs-12 col-sm-6">
                                                <label for="exampleInputEmail1">Nombre del Banco</label>
                                                <input [(ngModel)]="bankName" name="bankName" type="text"
                                                    class="form-control">
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 ">

                                                <div class="form-group col-xs-12">
                                                    <label for="exampleInputEmail1">Cuenta Bancaria</label>
                                                    <input [(ngModel)]="bankAccount" name="bankAccount" type="text"
                                                        class="form-control">
                                                </div>


                                            </div>
                                        </div>
                                        <input type="hidden" [(ngModel)]="id">
                                        <button (click)="save()" class="btn btn-primary">Guardar</button>
                                    </div>
                                </div>
                                <!-- transferencia -->
                                <!-- transferencia -->
                                <div *ngIf="pagoSeleccionado === 'Transferencia Bolivares'" class="p-2">
                                    <div class="card-body">
                                        <h4>Transferencia</h4>
                                        <div class="row">
                                            <div class="form-group col-xs-12 col-sm-6">
                                                <label for="exampleInputEmail1">Tipo de Cuenta<span
                                                        class="required">*</span></label>
                                                <select name="bankAccountType" id="input" class="form-control"
                                                    [(ngModel)]="bankAccountType">
                                                    <option value="">Seleccione</option>
                                                    <option value="ahorro">Ahorro</option>
                                                    <option value="corriente">Corriente</option>
                                                </select>

                                            </div>
                                            <div class="form-group col-xs-12 col-sm-6">
                                                <label for="exampleInputEmail1">Nombre del Banco</label>
                                                <input [(ngModel)]="bankName" name="bankName" type="text"
                                                    class="form-control">
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 ">

                                                <div class="form-group col-xs-12">
                                                    <label for="exampleInputEmail1">Cuenta Bancaria</label>
                                                    <input [(ngModel)]="bankAccount" name="bankAccount" type="text"
                                                        class="form-control">
                                                </div>


                                            </div>
                                        </div>
                                        <input type="hidden" [(ngModel)]="id">
                                        <button (click)="save()" class="btn btn-primary">Guardar</button>
                                    </div>
                                </div>
                                <!-- transferencia -->
                                <!-- Pago Móvil -->
                                <div *ngIf="pagoSeleccionado === 'Pago Móvil'" class="p-2">
                                    <div class="card-body">
                                        <h4>Pago Móvil</h4>
                                        <div class="row">
                                            <div class="form-group col-xs-12 ">
                                                <label for="exampleInputEmail1">Nombre del Banco</label>
                                                <input [(ngModel)]="bankName" name="bankName" type="text"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-xs-12 col-sm-6">
                                                <label for="exampleInputEmail1">Ci o RIF</label>
                                                <input [(ngModel)]="ciorif" name="ciorif" type="text"
                                                    class="form-control">
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-6">
                                                <label for="exampleInputEmail1">Télefono</label>
                                                <input [(ngModel)]="telefono" name="telefono" type="text"
                                                    class="form-control">
                                            </div>
                                        </div>

                                        <!-- <input type="hidden" [(ngModel)]="id"> -->
                                        <button (click)="save()" class="btn btn-primary">Guardar</button>
                                    </div>
                                </div>
                                <!-- Pago Móvil  -->
                            </form>
                        </div>
                        <div class="col-xs-12 col-sm-7" *ngIf="!tipoSeleccionado">
                            <div class="card">
                                <div class="card-body">
                                    <table class="rbt-table table">
                                        <thead>
                                            <tr>
                                                <th>Tipo</th>
                                                <th>Nombre</th>
                                                <th>Status</th>
                                                <th>Activar</th>
                                                <th>Opciones</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <ng-container *ngFor="let tipodepago of tiposdepagos">
                                                <tr>
                                                    <td>{{tipodepago.tipo}}</td>
                                                    <td>{{tipodepago.bankName}}</td>
                                                    <td>
                                                        <span class="badge bg-success"
                                                            *ngIf="tipodepago.status === 'ACTIVE'">Activo</span>
                                                        <span class="badge bg-danger"
                                                            *ngIf="tipodepago.status === 'INACTIVE'">Inactivo</span>
                                                    </td>
                                                    <td>
                                                        <!-- <div class="status-toggle d-flex justify-content-between align-items-center">
                                                            <input type="checkbox"  class="check"  [checked]="{'check': tipodepago.status === 'ACTIVO'}" [(ngModel)]="tipodepago.status" (change)="cambiarStatus(tipodepago)">
                                                            <label  class="checktoggle">checkbox</label>
                                                        </div> -->

                                                        <select class="form-control form-select-solid fw-bolder"
                                                            name="status" [(ngModel)]="tipodepago.status"
                                                            (change)="cambiarStatus(tipodepago)" placeholder="status">
                                                            <option value="">Seleccione</option>
                                                            <option value="ACTIVE">Activo</option>
                                                            <option value="INACTIVE">Inactivo</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-outline-primary btn-sm" href="#"
                                                            onclick="return false;" (click)="selectedType(tipodepago)"
                                                            title="Edit"><i class="fa fa-eye pl--0"></i></a>
                                                        <a class="btn btn-outline-danger btn-sm" href="#"
                                                            onclick="return false;" (click)="deleteTipoPago(tipodepago)"
                                                            title="Edit"><i class="fa fa-trash pl--0"></i></a>
                                                    </td>
                                                </tr>
                                            </ng-container>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-7 col-sm-push-3 border-radio " *ngIf="tipoSeleccionado">
                    <div class="card">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="rbt-form-group">
                                        <b>
                                            Tipo de Pago</b><br>
                                        {{tipoSeleccionado.tipo}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6" *ngIf="tipoSeleccionado.email">
                                    <div class="rbt-form-group">
                                        <b>
                                            Email</b><br>
                                        {{tipoSeleccionado.email}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6" *ngIf="tipoSeleccionado.ciorif">
                                    <div class="rbt-form-group">
                                        <b>
                                            ci orif</b><br>
                                        {{tipoSeleccionado.ciorif}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6" *ngIf="tipoSeleccionado.telefono">
                                    <div class="rbt-form-group">
                                        <b> Teléfono</b><br>
                                        {{tipoSeleccionado.telefono}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6" *ngIf="tipoSeleccionado.bankName">
                                    <div class="rbt-form-group">
                                        <b> Nombre del Banco</b><br>
                                        {{tipoSeleccionado.bankName}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6" *ngIf="tipoSeleccionado.bankAccount">
                                    <div class="rbt-form-group">
                                        <b> Cuenta Bancaria</b><br>
                                        {{tipoSeleccionado.bankAccount}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="tipoSeleccionado">
                    <button class="btn btn-primary btn-sm" (click)="tipoSeleccionado = null">Regresar</button>
                </div>
            </div>
            <div class="tab-pane fade show active profile-overview" *ngIf="option_selected === 2 "
                id="profile-overview">
                <app-configuracion [idconf]="idconf"></app-configuracion>
            </div>
        </div>




    </div>
</div>