<!-- <app-loading *ngIf="isLoading"></app-loading> -->
<div class="row" >
    
    <div  *ngIf="!precio_dia ">
       Favor Actualizar Tasa del día 
       <button type="button" class="btn btn-outline-warning" routerLink="../dashboard/tasabcv">
        Actualizar tasa
       </button>
    </div>
    <div class="preciodia"  *ngIf="precio_dia ">
        <div class="fa fa-bar-chart fa-2x" style="color: var(--azulclaro);"></div>
        <div class="inf">
            <h4>Feliz día, {{user.name}}!</h4>
       <p>La Tasa BCV del día es: <br> {{precio_fecha | date:'MMM d, y, h:mm:ss a'}} <br>
        <strong>{{precio_dia|currency:'Bs.'}} x $</strong></p>
        </div>
    </div>
</div>