<div class="modal fade exmodal" id="examenModal" tabindex="-1" aria-labelledby="examenModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="examenModalLabel">{{materia?.name}} {{userprofile?.name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="examenForm">
                    <div class="container">
                        <div class="row">
                            <!-- <div class="form-group col-xs-12 col-sm-6">
                                <label for="exampleInputEmail1">Materia</label>
                                <input formControlName="materia_id" name="materia" type="text" class="form-control">
                            </div> -->

                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="Email" class="col-md-4 col-lg-3 col-form-label">Materia</label>
                                <select class="form-control" id="materia_id" [value]="materia?.id"
                                    formControlName="materia_id">
                                    <div *ngFor="let data of materias " [value]="materia_id">
                                        <option value="{{data.id}}">{{data.name}}</option>
                                    </div>
                                </select>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="exampleInputEmail1">Titulo</label>
                                <input formControlName="title"  name="title" type="text" class="form-control">
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="exampleInputEmail1">Fecha</label>
                                <input formControlName="exam_date" type="date" class="form-control">
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="exampleInputEmail1">Puntaje </label>
                                <input formControlName="puntaje" type="number" class="form-control">
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="exampleInputEmail1">Valor % del Examen</label>
                                <input formControlName="valor_examen" type="text" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="doctor-submit text-end">
                                <button type="button" class="btn btn-primary submit-form me-2"
                                    (click)="onUserSave()">{{'Guardar'}}</button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"  #closeButton data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>