<div class="modal fade calendmodal" id="calendarioModal" tabindex="-1" aria-labelledby="calendarioModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="calendarioModalLabel">{{materia?.name}} {{userprofile?.name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="examenForm">
                    <div class="container">
                        <div class="row">
                            
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="exampleInputEmail1">Titulo</label>
                                <input formControlName="title"  name="title" type="text" class="form-control">
                            </div>
                            <div class="form-group col-xs-12 ">
                                <label for="exampleInputEmail1">Descripcion</label>
                                <textarea name="" id="" formControlName="description" class="form-control" ></textarea>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="exampleInputEmail1">Fecha Entrega</label>
                                <input formControlName="fecha_entrega" type="date" class="form-control">
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="exampleInputEmail1">Status</label>
                                <select class="form-control form-select-solid fw-bolder" 
                                    formControlName="status"  placeholder="status">
                                    <option value="">Seleccione</option>
                                    <option value="ACTIVE">Activo</option>
                                    <option value="INACTIVE">Inactivo</option>
                                </select>
                            </div>
                            
                            
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="doctor-submit text-end">
                                <button type="button" class="btn btn-primary submit-form me-2"
                                    (click)="onUserSave()">{{'Guardar'}}</button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"  #closeButton data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>