

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Términos y Condiciones</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container">
                <h1>Términos de servicio</h1>
                <p>1.Introducción Los presentes términos y condiciones regulan el uso de este sitio web y los servicios ofrecidos a través del mismo. Al acceder y utilizar este sitio, usted acepta cumplir con estos términos. 
                  2. Exclusividad de Contenido Las clases implementadas en este sitio web son de exclusividad de los profesores que las imparten, al igual que su contenido. Cualquier reproducción, distribución o uso no autorizado de dicho contenido está estrictamente prohibido. 
                  3. Uso del Sitio El usuario se compromete a utilizar el sitio web de manera responsable y a no realizar actividades que puedan dañar la imagen, los intereses o los derechos de la empresa o de terceros. 
                  4. Modificaciones La empresa se reserva el derecho de modificar estos términos y condiciones en cualquier momento. Las modificaciones serán efectivas una vez publicadas en el sitio web. 
                  5. Aceptación de Términos El uso continuado del sitio web después de la publicación de cambios en estos términos implica la aceptación de dichos cambios. 
                  6. Contacto Para cualquier consulta relacionada con estos términos y condiciones, por favor contáctenos a través de la información proporcionada en el sitio web.</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <!-- <button type="button" class="btn btn-primary">{{'formulario.Save'|translate}}</button> -->
        </div>
      </div>
    </div>
  </div>