<div *ngIf="role === 'GUEST' || role === 'MEMBER' || role === 'SUPERADMIN' || role === 'ADMIN'">
    <app-bannerplanes></app-bannerplanes>
</div>

<div class="row page-titles ">
    <div class="col-md-5 align-self-center">
        <h2 class="text-themecolor animated fadeInLeft">Bienvenido
            <h4 class="animated fadeInDown">{{user.name}} </h4>
        </h2>
    </div>
</div>

<!-- buscador -->
<form class="form-horizontal">
    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
        <div class="input-group">
            <input type="search" name="search" type="text" class="form-control col-xs-12" placeholder="Buscar.."
                [(ngModel)]="query" aria-describedby="button-addon1" class="form-control border-0 bg-light">
            <div class="input-group-append">
                <button id="button-addon1" type="submit" class="btn btn-link text-primary" (click)="search()"
                    name="submit" data-toggle="tooltip" title="mostrar todos"><i class="fa fa-search"></i></button>
                <a href="javascript:;" (click)="PageSize()" class="btn btn-primary doctor-refresh ms-2"><i
                        class="fa fa-refresh"></i></a>
            </div>
        </div>
    </div>
</form>
<!-- buscador -->

<div *ngIf="role === 'GUEST' || role === 'MEMBER' ">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3>Info Perfil</h3>
                    <p>Status : <span class="badge bg-success">active</span></p>
                    <button class="btn btn-outline-primary pull-right"
                        [routerLink]="['/dashboard/user/edit/', user.id]">Editar</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3>Info Proveedor</h3>
                    <p>Status Requerimieto:
                        <span class="badge bg-warning" *ngIf="proveedor?.status === 'pending'">Pendiente</span>
                        <span class="badge bg-warning" *ngIf="proveedor?.status === 'completed'">Completado</span>
                        <span class="badge bg-primary" *ngIf="proveedor?.status === 'review'">Revisando</span>
                        <span class="badge bg-success" *ngIf="proveedor?.status === 'ok'">Aprobado</span>
                        <span class="badge bg-danger" *ngIf="proveedor?.status === 'no'">No</span>
                    </p>
                    <span *ngIf="proveedor?.status === 'pending' || proveedor?.status !== null ">
                        <button class="btn btn-outline-primary pull-right"
                            [routerLink]="['/dashboard/proveedor/edit/', user.id]">Editar</button>

                    </span>
                    <span *ngIf="proveedor?.status === null ">
                        <button class="btn btn-outline-primary pull-right"
                            [routerLink]="['/dashboard/proveedor/edit/', user.id]">Crear</button>

                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeInUp" *ngIf="role === 'SUPERADMIN' || role === 'ADMIN'">





    <div class="col-6 col-sm-4 col-md-3">
        <div class="card">
            <a routerLink="../dashboard/usuarios">
                <div class="card-body">
                    <i class="mdi mdi-animation"></i>
                    <p>Usuarios</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
        <div class="card">
            <a routerLink="../dashboard/payments">
                <div class="card-body">
                    <i class="mdi mdi-note"></i>
                    <p>Pagos</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
        <div class="card">
            <a routerLink="../dashboard/padres">
                <div class="card-body">
                    <i class="mdi mdi-note"></i>
                    <p>Padres</p>
                </div>
            </a>
        </div>
    </div>



</div>