<div class="row page-titles ">
    <div class="col-md-5 align-self-center">
        <h2 class="text-themecolor animated fadeInLeft">Bienvenido

        </h2>
    </div>
</div>

<div *ngIf="role === 'GUEST' || role === 'MAESTRO' ">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3>Info Perfil</h3>
                    <h4 class="animated fadeInDown">{{user.name}} </h4>
                    <!-- <p>Status : <span class="badge bg-success">active</span></p> -->
                    <button class="btn btn-outline-primary pull-right"
                        [routerLink]="['/dashboard/user/edit/', user.id]">Editar</button>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3">
            <div class="card d-flex justify-content-center">
                <a routerLink="../dashboard/estudiantes">
                    <div class="card-body cuadroicondatos" style=" border-left: green 2px solid;">
                        <i class="fa fa-users fa-2x"></i>
                        <p>Estudiantes: {{total_students}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    
</div>


<div class="row animated fadeInUp" *ngIf="role === 'SUPERADMIN' || role === 'ADMIN'">
    <div class="col-6 col-sm-4 col-md-3">
            <div class="card d-flex justify-content-center">
                <a routerLink="../dashboard/padres">
                    <div class="card-body cuadroicondatos" style=" border-left: green 2px solid;">
                        <i class="fa fa-vcard fa-2x"></i>
                        <p>Padres: {{parents_nodeuda}}</p>
                        <!-- <p>Padres con deuda: {{total_parents}}</p> -->
                    </div>
                </a>
            </div>
        </div>  
    <div class="col-6 col-sm-4 col-md-3">
            <div class="card d-flex justify-content-center">
                <a routerLink="../dashboard/estudiantes">
                    <div class="card-body cuadroicondatos" style=" border-left: green 2px solid;">
                        <i class="fa fa-users fa-2x"></i>
                        <p>Estudiantes: {{total_students}}</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3">
            <div class="card d-flex justify-content-center">
                <a routerLink="../dashboard/payments">
                    <div class="card-body cuadroicondatos" style=" border-left: green 2px solid;">
                        <i class="fa fa-line-chart fa-2x"></i>
                        <p>Pagos</p>
                    </div>
                </a>
            </div>
        </div>
          
        <div class="col-6 col-sm-4 col-md-3">
            <div class="card" style="padding: 10px; border-left: green 2px solid;">
                <app-tasadiabcv></app-tasadiabcv>
            </div>
        </div>    
        <app-recentpayments></app-recentpayments>
</div>
