<div class="container">
    <app-backbreadcum [title]="title"></app-backbreadcum>
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="row animated fadeInUp" *ngIf="!isLoading">
        <div class="tab-pane" id="address" role="tabpanel" aria-labelledby="address-tab">

            <div class="card border-radio ">
                <div class="row">
                    <div class="col-xs-12 col-sm-5">
                        <form class="">

                            <!-- transferencia -->
                            <div class="card-body">
                                <div class="row">

                                    <div class="form-group col-xs-12 ">
                                        <label for="exampleInputEmail1">Nombre</label>
                                        <input [(ngModel)]="name" name="name" type="text" class="form-control"
                                            [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                                <input type="hidden" [(ngModel)]="id">
                                <button (click)="save()" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-7 border-radio">
                        <div class="card">
                            <div class="card-body">
                                <table class="rbt-table table">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Fecha</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <ng-container *ngFor="let materia of materias">
                                            <tr>
                                                <td>{{materia.name}}</td>
                                                <td>{{materia.created_at|date}}</td>

                                                <td>

                                                    <a class="btn btn-outline-danger btn-sm" href="#"
                                                        onclick="return false;" (click)="deleteTipoPago(materia)"
                                                        title="Edit"><i class="fa fa-trash pl--0"></i></a>
                                                </td>
                                            </tr>
                                        </ng-container>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <!-- Start Profile Row  -->

            <!-- End Profile Row  -->
        </div>
    </div>

</div>